# Obsidian
.git/*

.obsidian/plugins/home-tab/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/bookmarks.json
.obsidian/starred.json
.obsidian/workspace

.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/workspaces.json

.trash/*

01・Notes/*
02・Documents/*
03・Private/*
04・Study/*

05・Assets/attachments/*
05・Assets/banners/*
!space.jpg
!space2.jpg
!space3.jpg
!space4.jpg
05・Assets/snippets/*
05・Assets/templates/*

Sorting

# Windows
.DS_Store
Thumbs.db

$RECYCLE.BIN/
[Dd]esktop.ini
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.iml
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db