# Obsidian
.git/*

.obsidian/plugins/home-tab/data.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/bookmarks.json
.obsidian/starred.json
.obsidian/workspace

.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/workspaces.json

.trash/*
!.gitkeep

01・Notes/*
!.gitkeep
02・Documents/*
!.gitkeep
03・Private/*
!.gitkeep
04・Study/*
!.gitkeep

05・Assets/attachments/*
!.gitkeep
05・Assets/banners/*
!space.jpg
!space2.jpg
!space3.jpg
!space4.jpg
05・Assets/snippets/*
!.gitkeep
05・Assets/templates/*

Sorting

# Windows
.DS_Store
Thumbs.db

$RECYCLE.BIN/
[Dd]esktop.ini
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.iml
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db