/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Obsidian Theme                                                                                                     ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ CreArts                                                                                 ║ */
/* ║ Version:                 ║ 2.1.0                                                                                   ║ */
/* ║ Author:                  ║ Corellan                                                                                ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Variables                                                                               ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.theme-dark, .app-container{
  --crearts-background-secondary: #2a2d3b;

  /* Radius */
  --radius-primary: 18px;
  --radius-secondary: 12px;
  --radius-tertiary: 6px;

  --crearts-text-primary: var(--tx1);

  /* Layout */
  --layout-margin: 8px;
  --layout-titlebar: 20px;

/* Graph */
  --graph-controls-width: 220px;
  --graph-text: var(--text-normal);
  --graph-line: var(--bg3);
  --graph-node: var(--bg3);
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: var(--text-accent);
  --graph-node-tag: var(--text-normal);
  --graph-node-attachment: #FFD861 !important;
}

:root {
  --size: 12px;
  --titlebar-minimize: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Crect x='3' y='7.5' width='10' height='1' rx='0.5' fill='%23212121'/%3E%3C/svg%3E");
  --titlebar-maximize: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4.5 3C3.67157 3 3 3.67157 3 4.5V11.5C3 12.3284 3.67157 13 4.5 13H11.5C12.3284 13 13 12.3284 13 11.5V4.5C13 3.67157 12.3284 3 11.5 3H4.5ZM4.5 4H11.5C11.7761 4 12 4.22386 12 4.5V11.5C12 11.7761 11.7761 12 11.5 12H4.5C4.22386 12 4 11.7761 4 11.5V4.5C4 4.22386 4.22386 4 4.5 4Z' fill='%23212121'/%3E%3C/svg%3E");
  --titlebar-window: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.08496 4C5.29088 3.4174 5.8465 3 6.49961 3H9.99961C11.6565 3 12.9996 4.34315 12.9996 6V9.5C12.9996 10.1531 12.5822 10.7087 11.9996 10.9146V6C11.9996 4.89543 11.1042 4 9.99961 4H5.08496ZM4.5 5H9.5C10.3284 5 11 5.67157 11 6.5V11.5C11 12.3284 10.3284 13 9.5 13H4.5C3.67157 13 3 12.3284 3 11.5V6.5C3 5.67157 3.67157 5 4.5 5ZM4.5 6C4.22386 6 4 6.22386 4 6.5V11.5C4 11.7761 4.22386 12 4.5 12H9.5C9.77614 12 10 11.7761 10 11.5V6.5C10 6.22386 9.77614 6 9.5 6H4.5Z' fill='%23212121'/%3E%3C/svg%3E");
  --titlebar-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M2.58859 2.71569L2.64645 2.64645C2.82001 2.47288 3.08944 2.4536 3.28431 2.58859L3.35355 2.64645L8 7.293L12.6464 2.64645C12.8417 2.45118 13.1583 2.45118 13.3536 2.64645C13.5488 2.84171 13.5488 3.15829 13.3536 3.35355L8.707 8L13.3536 12.6464C13.5271 12.82 13.5464 13.0894 13.4114 13.2843L13.3536 13.3536C13.18 13.5271 12.9106 13.5464 12.7157 13.4114L12.6464 13.3536L8 8.707L3.35355 13.3536C3.15829 13.5488 2.84171 13.5488 2.64645 13.3536C2.45118 13.1583 2.45118 12.8417 2.64645 12.6464L7.293 8L2.64645 3.35355C2.47288 3.17999 2.4536 2.91056 2.58859 2.71569L2.64645 2.64645L2.58859 2.71569Z' fill='%23212121'/%3E%3C/svg%3E");
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Remove                                                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Help Icon */
.side-dock-settings .clickable-icon:nth-child(2) {
  display: none !important;
}

/* Scrollbars */
::-webkit-scrollbar {
  display: none !important;
}

/* Files */
[data-path="readme.md"] {
  display: none;
}

[data-path="manifest.json"] {
  display: none;
}

[data-path="license"] {
  display: none;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Text                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Live Preview */
.markdown-preview-view {
  text-align: justify;
  text-align-last: left;
  text-justify: inter-word;
  hyphens: auto;
}

/* Bullet List */
.has-list-bullet {
  text-align: left !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Context Menu                                                                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.menu {
  max-height: 70vh;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Spacing                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.workspace-tab-container {
  margin-bottom: var(--layout-titlebar) !important;
}

/*
.mod-top-right-space .workspace-tab-container {
  margin-bottom: var(--layout-margin) !important;
}
*/

.workspace-tabs .workspace-leaf .view-content {
  width: unset !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Titlebar (Windows)                                                                      ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.excalidraw.theme--dark, .theme-dark, .theme-light, .theme-light.minimal-light-contrast .titlebar, .theme-light.minimal-light-contrast.is-mobile .workspace-drawer.mod-left, .theme-light.minimal-light-contrast.minimal-status-off .status-bar, body .excalidraw {
  --titlebar-background-focused: var(--bg2) !important;
  --text-on-accent: #FFFFFF !important;
}

/* Background */
.is-frameless:not(.is-hidden-frameless) {
  background: var(--bg2);
}

/* No Icons */
.mod-windows .titlebar-button.mod-maximize svg,
.mod-windows .titlebar-button.mod-close svg {
  display: none;
}

/* Minimize Button */
.mod-windows .titlebar-button.mod-minimize {
  color: var(--crearts-text-primary);
}

/* Maximize Button */
.mod-windows .titlebar-button.mod-maximize:after {
  content: "";
  background: var(--crearts-text-primary);
  width: 16px;
  height: 16px;
  mask: var(--icon);
  -webkit-mask: var(--icon);
  --icon: var(--titlebar-maximize);
}

/* Close Button */
.mod-windows .titlebar-button.mod-close:after {
  content: "";
  background: var(--crearts-text-primary);
  width: 16px;
  height: 16px;
  mask: var(--icon);
  -webkit-mask: var(--icon);
  --icon: var(--titlebar-close);
}

.mod-windows .titlebar-button.mod-close:hover {
  background: #eb0b22;
}

.mod-windows .titlebar-button.mod-close:hover:after {
  background: white;
}

.workspace-leaf {
  border-radius: var(--radius-secondary) !important;
  margin-top: var(--layout-margin) !important;
  height: unset !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Status-Bar                                                                              ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.status-bar {
  background: var(--bg2) !important;
  width: 100%;
  border-radius: 0px;
  border-top: var(--tab-outline-width) solid var(--tab-outline-color);
  height: var(--layout-titlebar);
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Body                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Header */
.mod-root .view-header {
  background: var(--crearts-background-secondary) !important;
  border-radius: var(--radius-secondary) !important;
  margin-top: 8px;
  margin-right: var(--layout-margin) !important;
  margin-bottom: 8px;
  margin-left: 8px;
  min-height: 44px;
}

/* Content */
.workspace .view-content {
  background: var(--crearts-background-secondary) !important;
  border-radius: var(--radius-secondary) !important;
  margin: 8px 8px calc(var(--layout-margin) + var(--layout-margin)) 8px;
}

/* Kanban*/
.mod-root .kanban-plugin {
  background: var(--crearts-background-secondary) !important;
  border-radius: var(--radius-secondary) !important;
}

/* Canvas */
.mod-root .canvas-wrapper {
  background: var(--crearts-background-secondary);
}

/* Image */
.image-container img {
  border-radius: 12px !important;
}

/* Document */
[data-type="pdf"] .view-content {
  background: transparent !important;
  flex-direction: column-reverse !important;
}

[data-type="pdf"] .pdf-sidebar-container {
  background: transparent;
  margin-right: 200px !important;
  padding-right: var(--layout-margin);
}

[data-type="pdf"] .pdf-thumbnail-view {
  background: var(--crearts-background-secondary) !important;
  border-radius: var(--radius-secondary) !important;
}

[data-type="pdf"] .pdf-toolbar {
  align-items: stretch;
  background: var(--crearts-background-secondary);
  border-radius: 12px;
  margin-top: 20px;
  border: none;
}

[data-type="pdf"] .pdf-viewer-container {
  background: var(--crearts-background-secondary) !important;
  border-radius: var(--radius-secondary) !important;
  margin-left: var(--layout-margin);
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Menu                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Ribbon */
.workspace-ribbon {
  background: var(--crearts-background-secondary) !important;
  border-radius: var(--radius-secondary);
  margin: calc(40px + var(--layout-margin) + var(--layout-margin)) var(--layout-margin) calc(var(--layout-margin) + var(--layout-margin) + var(--layout-titlebar)) calc(var(--layout-margin) + var(--layout-margin)) !important;
  border: none;
}

.workspace-ribbon .sidebar-toggle-button {
  left: calc(var(--layout-margin) + var(--layout-margin));
}

.workspace-ribbon.mod-left:before {
  width: calc(var(--ribbon-width) + var(--layout-margin) + var(--layout-margin) + var(--layout-margin));
  padding-bottom: 0.2px;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Sidebar Button                                                                          ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Name */
body:not(.is-grabbing) .tree-item-self.is-clickable:hover .tree-item-inner  {
  color: white;
}

/* Icon */
body:not(.is-grabbing) .tree-item-self.is-clickable:hover .obsidian-icon-folder-icon path {
  fill: white !important;
}

/* Collapse */
body:not(.is-grabbing) .tree-item-self.is-clickable:hover   .collapse-icon svg.svg-icon {
  color: white !important;
}

/* Description */
body:not(.is-grabbing) .tree-item-self.is-clickable:hover .tree-item-inner::after  {
  opacity: 100%;
  color: white;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Sidebar (Left)                                                                          ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Nav */
.mod-left-split .nav-header {
  background: var(--crearts-background-secondary);
  border-radius: var(--radius-secondary);
  margin: var(--layout-margin);
  min-height: 44px;
}

.mod-left-split .view-content {
  background: var(--crearts-background-secondary);
  border-radius: var(--radius-secondary);
  margin: var(--layout-margin) var(--layout-margin) calc(var(--layout-margin) + var(--layout-margin)) var(--layout-margin);
}

.mod-left-split .nav-files-container {
  background: var(--crearts-background-secondary);
  border-radius: var(--radius-secondary);
  margin: var(--layout-margin) var(--layout-margin) calc(var(--layout-margin) + var(--layout-margin)) var(--layout-margin);
}

/* Vault Header */
.nav-folder.mod-root > .nav-folder-title {
  padding-left: var(--layout-margin) !important;
  margin-top: var(--layout-margin);
}

/* Left Sidebar / If not Single Element*/
/*
.nav-files-container {
  margin-bottom: 0px !important;
}

.mod-left-split .mod-top-left-space .workspace-tab-container {
  margin-bottom: var(--layout-margin) !important;
}

.mod-left-split .mod-top-left-space .view-content {
  margin-bottom: 0px !important;
}

.mod-left-split .mod-top-left-space .search-result-container {
  margin-bottom: 0px !important;
}
*/


/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Sidebar (Right)                                                                         ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Nav */
.mod-right-split .nav-header {
  background: var(--crearts-background-secondary);
  border-radius: var(--radius-secondary);
  margin: var(--layout-margin);
  min-height: 44px;
}

.mod-right-split .view-content {
  background: var(--crearts-background-secondary);
  border-radius: var(--radius-secondary);
  margin: var(--layout-margin) var(--layout-margin) calc(var(--layout-margin) + var(--layout-margin)) var(--layout-margin);
}

body:not(.sidebar-tabs-underline):not(.sidebar-tabs-index):not(.sidebar-tabs-square) .workspace>.workspace-split:not(.mod-root) .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  background: var(--crearts-background-secondary);
  border-radius: var(--radius-secondary);

  margin: var(--layout-margin) var(--layout-margin) 0px var(--layout-margin);

  min-height: 44px;
}

/* Right Sidebar */
.mod-right-split .workspace-tab-container {
  margin-bottom: var(--layout-margin) !important;
}

body:not(.sidebar-color) .mod-right-split {
  padding-bottom: var(--layout-margin) !important;
}

.mod-right-split .view-content:not(.custom-frames-view) {
  margin-top: 0px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Search                                                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.search-row {
  background: var(--crearts-background-secondary);
  padding: 8px;
  border-radius: var(--radius-secondary);
  margin-bottom: 0px;
}

.search-results-info {
  background: var(--crearts-background-secondary);
  margin-top: calc(var(--layout-margin) + var(--layout-margin));
  border-radius: var(--radius-secondary);
  height: 44px;
}

.search-result-container {
  background: var(--crearts-background-secondary) !important;
  border-radius: var(--radius-secondary);
  margin: calc(var(--layout-margin) + var(--layout-margin)) var(--layout-margin) var(--layout-margin) var(--layout-margin);
  border: none;
}

.global-search-input-container.search-input-container input {
  border: none !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Popout                                                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.is-popout-window .view-content {
  margin-bottom: 0px;
  margin-left: calc(var(--layout-margin) + var(--layout-margin));
  margin-right: calc(var(--layout-margin) + var(--layout-margin));
}

.is-popout-window .view-header {
  margin-left: calc(var(--layout-margin) + var(--layout-margin));
  margin-right: calc(var(--layout-margin) + var(--layout-margin)) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Callout                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.callout {
  border-radius: 12px;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Main                     ║ Frontmatter                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Background */
.frontmatter-container {
  background: var(--bg1);
  border-radius: 12px;
  box-shadow: inset 5px 5px 20px #1f212b,
              inset -5px -5px 20px #353949 !important;
  padding: 20px !important;
  margin-top: 20px !important;
}

/* Header */
.frontmatter-container-header {
  border: none !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-bottom: 0px !important;
}

/* Label */
.frontmatter-section-label {
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
}

.frontmatter-section-label::after {
  content: ":";
  font-weight: 500;
}

/* Data */
.frontmatter-section-data-item {
  background-color: var(--tag-background);
  border-radius: var(--tag-radius);
  color: var(--tag-color);
  font-size: var(--tag-size);
  text-decoration: var(--tag-decoration);
  padding: var(--tag-padding-y) var(--tag-padding-x);
  line-height: 1;
  font-weight: 600;
  padding-left: 0px;
}

/* Data - Tag */
.frontmatter-section-data .tag {
  display: block !important;
  border: none !important;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 600;
}

.frontmatter-section-data .tag::after {
  content: ",";
  font-weight: 500;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Graph                                                                                   ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.workspace-leaf-content .graph-controls {
  opacity: 0;
}

.workspace-leaf-content:hover .graph-controls {
  opacity: 1;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Calendar                                                                                ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

#calendar-container .today {
  background: var(--interactive-accent) !important;
  color: white;
}

#calendar-container .today .dot-container.svelte-q3wqg9 {
background: transparent !important;
  border-radius: 4px;
  height: 2px;
  color: white !important;
}

#calendar-container .today .dot, #calendar-container .today.active .dot {
  fill: rgba(255, 255, 255, 0.400);
}

#calendar-container .dot-container.svelte-q3wqg9 {
  background: var(--bg1);
  border-radius: 8px;
}

#calendar-container .adjacent-month .dot-container.svelte-q3wqg9 {
  background: var(--bg2);
  opacity: 0;
}

.workspace-leaf-content[data-type=calendar] .view-content {
  margin: 8px 8px 0px 8px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Editing Toolbar                                                                         ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.markdown-source-view.mod-cm6 {
  flex-direction: column-reverse;
}

/* Background */
#cMenuToolbarModalBar.top {
  background: var(--bg1);
  border-radius: var(--radius-secondary);
  margin: 14px 18px 14px 14px;
  box-shadow: none;
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 12px #2f313f !important;
}

/* Remove Border */
#cMenuToolbarModalBar.cMenuToolbarDefaultAesthetic {
  border: none !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Custom Frames                                                                           ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.custom-frames-frame {
  background: transparent !important;
}

.mod-right-split .custom-frames-view {
  margin-bottom: 0px !important;
}

.mod-right-split .workspace-tab-container {
  height: 0px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Icon Folder                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.obsidian-icon-folder-icon path {
  fill: var(--crearts-text-primary) !important;
}

.tree-item-icon:not(.nav-folder-collapse-indicator) path {
  fill: var(--crearts-text-primary) !important;
}

.tree-item-self .tree-item-icon:before {
  height: 2px;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Folder Icons                                                                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.obsidian-icon-folder-icon-preview path {
  fill: var(--crearts-text-primary);
}

.obsidian-icon-folder-modal.prompt-results .suggestion-item {
  color: var(--crearts-text-primary);
}

.prompt .obsidian-icon-folder-subheadline {
  color: var(--crearts-text-primary);
}

/* Icons */



[d="M21.2505 5.77V9C21.2505 11.1146 20.5427 11.899 18.6312 12.0068C18.3555 12.0223 18.1305 11.7961 18.1305 11.52V10.38C18.1305 7.26 16.7405 5.87 13.6205 5.87H12.4805C12.2043 5.87 11.9781 5.64494 11.9937 5.36924C12.1014 3.45773 12.8859 2.75 15.0005 2.75H18.2305C20.5205 2.75 21.2505 3.48 21.2505 5.77Z"],
[d="M16.6291 10.3811V13.6211C16.6291 15.9011 15.8991 16.6311 13.6191 16.6311H10.3791C8.09914 16.6311 7.36914 15.9011 7.36914 13.6211V10.3811C7.36914 8.10109 8.09914 7.37109 10.3791 7.37109H13.6191C15.8991 7.37109 16.6291 8.10109 16.6291 10.3811Z"],
[d="M11.52 18.1305C11.7961 18.1305 12.0223 18.3555 12.0068 18.6312C11.899 20.5427 11.1146 21.2505 9 21.2505H5.77C3.48 21.2505 2.75 20.5205 2.75 18.2305V15.0005C2.75 12.8859 3.45773 12.1014 5.36924 11.9937C5.64494 11.9781 5.87 12.2043 5.87 12.4805V13.6205C5.87 16.7405 7.26 18.1305 10.38 18.1305H11.52Z"],
[d="M20.8593 8.36985L13.9293 2.82985C12.8593 1.96985 11.1293 1.96985 10.0693 2.81985L3.13929 8.36985C2.35929 8.98985 1.85929 10.2998 2.02929 11.2798L3.35929 19.2398C3.59929 20.6598 4.95929 21.8098 6.39929 21.8098H17.5993C19.0293 21.8098 20.3993 20.6498 20.6393 19.2398L21.9693 11.2798C22.1293 10.2998 21.6293 8.98985 20.8593 8.36985ZM11.9993 15.4998C10.6193 15.4998 9.49929 14.3798 9.49929 12.9998C9.49929 11.6198 10.6193 10.4998 11.9993 10.4998C13.3793 10.4998 14.4993 11.6198 14.4993 12.9998C14.4993 14.3798 13.3793 15.4998 11.9993 15.4998Z"],
[d="M22 7.80983V16.1898C22 19.3998 19.4 21.9998 16.19 21.9998H7.81C4.6 21.9998 2 19.3998 2 16.1898V7.80983C2 5.31983 3.02 3.50983 4.83 2.62983C5.49 2.30983 6.25 2.80983 6.25 3.53983V12.4198C6.25 13.6098 6.71 14.5598 7.54 15.0398C8.38 15.5098 9.44 15.4098 10.52 14.7598L11.82 13.9798C11.9 13.9398 12.1 13.9398 12.16 13.9698L13.48 14.7598C14.2 15.1898 14.82 15.3298 15.32 15.3298C15.84 15.3298 16.24 15.1698 16.48 15.0298C17.29 14.5598 17.75 13.6098 17.75 12.4198V3.53983C17.75 2.80983 18.52 2.30983 19.17 2.62983C20.98 3.50983 22 5.31983 22 7.80983Z"],
[d="M15.25 2C15.8 2 16.25 2.45 16.25 3V12.42C16.25 13.06 16.06 13.54 15.73 13.73C15.39 13.93 14.85 13.83 14.25 13.47L12.93 12.68C12.42 12.37 11.58 12.37 11.07 12.68L9.75 13.47C9.15 13.83 8.61 13.92 8.27 13.73C7.94 13.54 7.75 13.06 7.75 12.42V3C7.75 2.45 8.2 2 8.75 2H15.25Z"],
[d="M16.75 3.56V5C16.75 5.41 16.41 5.75 16 5.75C15.59 5.75 15.25 5.41 15.25 5V3.5H8.75V5C8.75 5.41 8.41 5.75 8 5.75C7.59 5.75 7.25 5.41 7.25 5V3.56C4.3 3.83 3 5.73 3 8.5V17C3 20 4.5 22 8 22H16C19.5 22 21 20 21 17V8.5C21 5.73 19.7 3.83 16.75 3.56ZM12 16.75H8C7.59 16.75 7.25 16.41 7.25 16C7.25 15.59 7.59 15.25 8 15.25H12C12.41 15.25 12.75 15.59 12.75 16C12.75 16.41 12.41 16.75 12 16.75ZM16 11.75H8C7.59 11.75 7.25 11.41 7.25 11C7.25 10.59 7.59 10.25 8 10.25H16C16.41 10.25 16.75 10.59 16.75 11C16.75 11.41 16.41 11.75 16 11.75Z"],
[d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z"],
[d="M16 9.75H8C7.31 9.75 6.75 10.31 6.75 11V12.05C6.78 12.04 6.8 12.03 6.83 12.02C6.95 11.96 7.08 11.92 7.21 11.88C7.27 11.86 7.33 11.84 7.4 11.82C7.6 11.78 7.8 11.75 8.01 11.75H16.01C16.22 11.75 16.42 11.78 16.62 11.82C16.68 11.83 16.74 11.86 16.81 11.88C16.94 11.92 17.07 11.96 17.19 12.02C17.22 12.03 17.25 12.04 17.27 12.05V11C17.25 10.31 16.69 9.75 16 9.75Z"],
[d="M16 13.25H8C7.31 13.25 6.75 13.81 6.75 14.5V15H9.5C9.91 15 10.25 15.34 10.25 15.75C10.25 16.71 11.04 17.5 12 17.5C12.96 17.5 13.75 16.71 13.75 15.75C13.75 15.34 14.09 15 14.5 15H17.25V14.5C17.25 13.81 16.69 13.25 16 13.25Z"],
[d="M16 6.5H8C7.31 6.5 6.75 7.06 6.75 7.75V8.56C7.13 8.37 7.55 8.25 8 8.25H16C16.45 8.25 16.87 8.37 17.25 8.56V7.75C17.25 7.06 16.69 6.5 16 6.5Z"
],
[d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM19 16.5H18H15.16C14.82 17.93 13.53 19 12 19C10.47 19 9.18 17.93 8.84 16.5H6H5C4.59 16.5 4.25 16.16 4.25 15.75C4.25 15.34 4.59 15 5 15H5.25V14.5V14V11V7.75C5.25 6.23 6.48 5 8 5H16C17.52 5 18.75 6.23 18.75 7.75V11V14V14.5V15H19C19.41 15 19.75 15.34 19.75 15.75C19.75 16.16 19.41 16.5 19 16.5Z"] {
  fill:var(--crearts-text-primary) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Column                                                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.columnParent {
  padding: 0px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Buttons                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.home-button {
  width: 100%;
  background: #303445 !important;
  padding: 0px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Callout                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.callout {
  mix-blend-mode: normal;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Tags                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.tag-container {
  background: var(--crearts-background-secondary);
  border-radius: var(--radius-secondary);
  margin: var(--layout-margin) var(--layout-margin) 0px var(--layout-margin);
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Searchbar                                                                               ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.home-tab-searchbar {
  width: 100% !important;
  border: none !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Banner                                                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.theme-dark .markdown-preview-view img, .theme-dark .markdown-source-view img {
  opacity: 100%;
}


/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Breadcrumbs                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Breadcrumbs */
.view-header-title-container {
  opacity: 1 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ CSS Editor                                                                              ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

[data-type="css-editor-view"] .cm-gutters {
  border-radius: 12px;
  border: none;
  width: 8px;
}

[data-type="css-editor-view"] .cm-editor {
  background: var(--crearts-background-secondary);
  font-size: 11.2px;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Surfing                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.surfing_app_zUmbJa {
  background: var(--crearts-background-secondary);
  margin: var(--layout-margin) var(--layout-margin) calc(var(--layout-margin) + var(--layout-margin)) 0px;
  border-radius: var(--radius-secondary) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Plugins                  ║ Weather                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Background */
.obsidian-weather-plugin {
  background: var(--crearts-background-secondary);
  height: 100%;
  margin: var(--layout-margin) var(--layout-margin) calc(var(--layout-margin) + var(--layout-margin)) var(--layout-margin);
  border-radius: var(--radius-secondary) !important;

  
}

/* Location */
.location-name {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: -2px;
  padding: 0px;
  margin-top: 8px;
}

/* Weather */
[style="display: flex; justify-content: center;"] div {
  background: var(--bg1) !important;
  border-radius: 12px;
  width: 64px;
  padding: 4px 0px 0px 0px;
}

[style="font-size: 0.8em; margin-bottom: 5px;"] {
  font-weight: 500;
}

/* Spacing */
[style="margin-left: 0.2em; margin-right: 0.2em;"] {
  display: none;
}

[style="display: flex; align-items: center; justify-content: center;"] {
  font-weight: 800;
  margin-bottom: 4px;
}

/* Remove Image */
[style="margin-right: 5px;"] {
  display: none;
}

/* Remove Infos */
[style="display: flex; align-items: center; justify-content: center;"] > div > div {
  display: none;
}

.feels-like {
  display: none !important;
}

/* Remove Condition */
.obsidian-weather-plugin .condition-text {
  display: none !important;
}

/* Remove Refresh Button */
.weather-refresh-button {
  display: none;
}

/* Remove Update Time */
.obsidian-weather-plugin .update-time {
  display: none !important;
}

/* Replace Icons - Rain */
[src="http://cdn.weatherapi.com/weather/64x64/day/302.png"],
[src="http://cdn.weatherapi.com/weather/64x64/day/308.png"] {
  object-position: -99999px 99999px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 64 64'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='22.56' y1='21.96' x2='39.2' y2='50.8' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f3f7fe'/%3E%3Cstop offset='0.45' stop-color='%23f3f7fe'/%3E%3Cstop offset='1' stop-color='%23deeafb'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='22.53' y1='42.95' x2='25.47' y2='48.05' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234286ee'/%3E%3Cstop offset='0.45' stop-color='%234286ee'/%3E%3Cstop offset='1' stop-color='%230950bc'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='29.53' y1='42.95' x2='32.47' y2='48.05' xlink:href='%23b'/%3E%3ClinearGradient id='d' x1='36.53' y1='42.95' x2='39.47' y2='48.05' xlink:href='%23b'/%3E%3C/defs%3E%3Cpath d='M46.5,31.5l-.32,0a10.49,10.49,0,0,0-19.11-8,7,7,0,0,0-10.57,6,7.21,7.21,0,0,0,.1,1.14A7.5,7.5,0,0,0,18,45.5a4.19,4.19,0,0,0,.5,0v0h28a7,7,0,0,0,0-14Z' stroke='%23e6effc' stroke-miterlimit='10' stroke-width='0.5' fill='url(%23a)'/%3E%3Cline x1='24.39' y1='43.03' x2='23.61' y2='47.97' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke='url(%23b)'%3E%3CanimateTransform attributeName='transform' type='translate' values='1 -5; -2 10' dur='0.7s' repeatCount='indefinite'/%3E%3Canimate attributeName='opacity' values='0;1;1;0' dur='0.7s' repeatCount='indefinite'/%3E%3C/line%3E%3Cline x1='31.39' y1='43.03' x2='30.61' y2='47.97' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke='url(%23c)'%3E%3CanimateTransform attributeName='transform' begin='-0.4s' type='translate' values='1 -5; -2 10' dur='0.7s' repeatCount='indefinite'/%3E%3Canimate attributeName='opacity' begin='-0.4s' values='0;1;1;0' dur='0.7s' repeatCount='indefinite'/%3E%3C/line%3E%3Cline x1='38.39' y1='43.03' x2='37.61' y2='47.97' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke='url(%23d)'%3E%3CanimateTransform attributeName='transform' begin='-0.2s' type='translate' values='1 -5; -2 10' dur='0.7s' repeatCount='indefinite'/%3E%3Canimate attributeName='opacity' begin='-0.2s' values='0;1;1;0' dur='0.7s' repeatCount='indefinite'/%3E%3C/line%3E%3C/svg%3E");background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

/* Replace Icons - Sun */
[src="http://cdn.weatherapi.com/weather/64x64/day/113.png"] {
  object-position: -99999px 99999px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='26.75' y1='22.91' x2='37.25' y2='41.09' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fbbf24'/%3E%3Cstop offset='0.45' stop-color='%23fbbf24'/%3E%3Cstop offset='1' stop-color='%23f59e0b'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle cx='32' cy='32' r='10.5' stroke='%23f8af18' stroke-miterlimit='10' stroke-width='0.5' fill='url(%23a)'/%3E%3Cpath d='M32,15.71V9.5m0,45V48.29M43.52,20.48l4.39-4.39M16.09,47.91l4.39-4.39m0-23-4.39-4.39M47.91,47.91l-4.39-4.39M15.71,32H9.5m45,0H48.29' fill='none' stroke='%23fbbf24' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'%3E%3CanimateTransform attributeName='transform' dur='45s' values='0 32 32; 360 32 32' repeatCount='indefinite' type='rotate'/%3E%3C/path%3E%3C/svg%3E");background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

/* Replace Icons - Sun Rain */
[src="http://cdn.weatherapi.com/weather/64x64/day/176.png"] {
  object-position: -99999px 99999px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 64 64'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='16.5' y1='19.67' x2='21.5' y2='28.33' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fbbf24'/%3E%3Cstop offset='0.45' stop-color='%23fbbf24'/%3E%3Cstop offset='1' stop-color='%23f59e0b'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='22.56' y1='21.96' x2='39.2' y2='50.8' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f3f7fe'/%3E%3Cstop offset='0.45' stop-color='%23f3f7fe'/%3E%3Cstop offset='1' stop-color='%23deeafb'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='22.53' y1='42.95' x2='25.47' y2='48.05' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234286ee'/%3E%3Cstop offset='0.45' stop-color='%234286ee'/%3E%3Cstop offset='1' stop-color='%230950bc'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='29.53' y1='42.95' x2='32.47' y2='48.05' xlink:href='%23c'/%3E%3ClinearGradient id='e' x1='36.53' y1='42.95' x2='39.47' y2='48.05' xlink:href='%23c'/%3E%3C/defs%3E%3Ccircle cx='19' cy='24' r='5' stroke='%23f8af18' stroke-miterlimit='10' stroke-width='0.5' fill='url(%23a)'/%3E%3Cpath d='M19,15.67V12.5m0,23V32.33m5.89-14.22,2.24-2.24M10.87,32.13l2.24-2.24m0-11.78-2.24-2.24M27.13,32.13l-2.24-2.24M7.5,24h3.17M30.5,24H27.33' fill='none' stroke='%23fbbf24' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 19 24; 360 19 24' dur='45s' repeatCount='indefinite'/%3E%3C/path%3E%3Cpath d='M46.5,31.5l-.32,0a10.49,10.49,0,0,0-19.11-8,7,7,0,0,0-10.57,6,7.21,7.21,0,0,0,.1,1.14A7.5,7.5,0,0,0,18,45.5a4.19,4.19,0,0,0,.5,0v0h28a7,7,0,0,0,0-14Z' stroke='%23e6effc' stroke-miterlimit='10' stroke-width='0.5' fill='url(%23b)'/%3E%3Cline x1='24.39' y1='43.03' x2='23.61' y2='47.97' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke='url(%23c)'%3E%3CanimateTransform attributeName='transform' type='translate' values='1 -5; -2 10' dur='0.7s' repeatCount='indefinite'/%3E%3Canimate attributeName='opacity' values='0;1;1;0' dur='0.7s' repeatCount='indefinite'/%3E%3C/line%3E%3Cline x1='31.39' y1='43.03' x2='30.61' y2='47.97' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke='url(%23d)'%3E%3CanimateTransform attributeName='transform' begin='-0.4s' type='translate' values='1 -5; -2 10' dur='0.7s' repeatCount='indefinite'/%3E%3Canimate attributeName='opacity' begin='-0.4s' values='0;1;1;0' dur='0.7s' repeatCount='indefinite'/%3E%3C/line%3E%3Cline x1='38.39' y1='43.03' x2='37.61' y2='47.97' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke='url(%23e)'%3E%3CanimateTransform attributeName='transform' begin='-0.2s' type='translate' values='1 -5; -2 10' dur='0.7s' repeatCount='indefinite'/%3E%3Canimate attributeName='opacity' begin='-0.2s' values='0;1;1;0' dur='0.7s' repeatCount='indefinite'/%3E%3C/line%3E%3C/svg%3E");background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

/* Replace Icons - Sun Clouds*/
[src="http://cdn.weatherapi.com/weather/64x64/day/116.png"] {
  object-position: -99999px 99999px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='16.5' y1='19.67' x2='21.5' y2='28.33' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fbbf24'/%3E%3Cstop offset='0.45' stop-color='%23fbbf24'/%3E%3Cstop offset='1' stop-color='%23f59e0b'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='22.56' y1='21.96' x2='39.2' y2='50.8' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f3f7fe'/%3E%3Cstop offset='0.45' stop-color='%23f3f7fe'/%3E%3Cstop offset='1' stop-color='%23deeafb'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle cx='19' cy='24' r='5' stroke='%23f8af18' stroke-miterlimit='10' stroke-width='0.5' fill='url(%23a)'/%3E%3Cpath d='M19,15.67V12.5m0,23V32.33m5.89-14.22,2.24-2.24M10.87,32.13l2.24-2.24m0-11.78-2.24-2.24M27.13,32.13l-2.24-2.24M7.5,24h3.17M30.5,24H27.33' fill='none' stroke='%23fbbf24' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'%3E%3CanimateTransform attributeName='transform' type='rotate' values='0 19 24; 360 19 24' dur='45s' repeatCount='indefinite'/%3E%3C/path%3E%3Cpath d='M46.5,31.5l-.32,0a10.49,10.49,0,0,0-19.11-8,7,7,0,0,0-10.57,6,7.21,7.21,0,0,0,.1,1.14A7.5,7.5,0,0,0,18,45.5a4.19,4.19,0,0,0,.5,0v0h28a7,7,0,0,0,0-14Z' stroke='%23e6effc' stroke-miterlimit='10' stroke-width='0.5' fill='url(%23b)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Hover                    ║ Sidebar (Right) Hover                                                                   ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Normal */
.mod-right-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  display: none;
}

.mod-right-split .workspace-leaf-content[data-type=calendar] .view-content {
  margin-top: 0px !important;
}

/* Hover */
.mod-right-split:hover .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  display: flex;
}

.mod-right-split:hover .workspace-leaf-content[data-type=calendar] .view-content {
  margin: 8px 8px 0px 8px !important;
}

/* Weather Plugin */
.mod-right-split .workspace-tabs:not(.mod-top) .obsidian-weather-plugin {
  margin-top: 0px;
}

/* Hover */
.mod-right-split:hover .workspace-tabs:not(.mod-top) .obsidian-weather-plugin {
  margin-top: var(--layout-margin);
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Hover                    ║ Sidebar (Left) Hover                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Normal */
.mod-left-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  display: none;
}

.mod-left-split .workspace-leaf-content .view-content {
  margin-top: var(--layout-margin) !important;
}

/* Hover */
.mod-left-split:hover .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
  display: flex;
}

.mod-left-split:hover .workspace-leaf-content .view-content {
  margin-top: var(--layout-margin) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Hover                    ║ Icons Left                                                                              ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/*
.mod-left-split .workspace-tab-header-container-inner {
  opacity: 0;
}

.mod-left-split:hover .workspace-tab-header-container-inner {
  opacity: 1 !important;
}


/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Hover                    ║ Icons Right                                                                             ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.mod-right-split .workspace-tab-header-container-inner {
  opacity: 0;
}

.mod-right-split:hover .workspace-tab-header-container-inner {
  opacity: 1 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Hover                    ║ Menu Dock                                                                               ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/*
.side-dock-settings .clickable-icon {
  opacity: 0;
}

.workspace-ribbon:hover .side-dock-settings .clickable-icon {
  opacity: 1;
}
*/

/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Sorting                                                                                                            ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

.workspace-tab-header-container {
  background: var(--bg2);
}

.nav-file-tag {
  background: var(--crearts-background-secondary);
  border-radius: 12px;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Sorting                                                                                                            ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Sidebar Widths */
.mod-left-split,
.mod-right-split {
  min-width: 272px !important;
  max-width: 460px !important;
}

.workspace-tabs .mod-top {
  min-height: 160px;
  height: 160px;
  max-height: 160px;
}

/* Sidebar */
.workspace:not(.is-right-sidedock-open) .view-header {
  margin-right: calc(var(--layout-margin) + var(--layout-margin)) !important;
}

.workspace:not(.is-right-sidedock-open) .view-content {
  margin-right: calc(var(--layout-margin) + var(--layout-margin)) !important;
}

/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Sorting                                                                                                            ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

.tree-item-self .is-clickable {
  padding-left: 0px !important;
  padding: 0px !important;
}






/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Canvas                                                                                                             ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */


[id="8bfd6fc6eda05b34"] {
display: none;
}

.canvas-wrapper .markdown-preview-view {
  text-align: center;
  text-align-last: center;
  text-justify: inter-word;
  hyphens: auto;
}