/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Obsidian Add-On                                                                                                    ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ Effects                                                                                 ║ */
/* ║ Version:                 ║ 2.1.0                                                                                   ║ */
/* ║ Author:                  ║ Corellan                                                                                ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Weather                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

[style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;"],
[style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;"],
[style="display: flex; flex-direction: column; align-items: center;"] {
  box-shadow: 2px 2px 20px #1f212b,
  -2px -2px 12px #2f313f !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Home                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Searchbar */
.home-tab-searchbar {
  box-shadow: inset 5px 5px 20px #1f212b,
              inset -5px -5px 20px #353949;
}

/* Searchbar - Suggestion */
.home-tab-suggestion-container {
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 12px #2f313f;
}

/* Buttons */
.home-button {
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 12px #2f313f !important;
}

.home-button:hover {
  box-shadow: inset 6px 6px 20px #1f212b,
              inset -6px -6px 20px #353949 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Toolbar                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Background */
#cMenuToolbarModalBar.top {
  box-shadow: none;
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 12px #2f313f !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Calendar                                                                                ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

#calendar-container .day:not(.today) .dot-container.svelte-q3wqg9 {
  box-shadow: none;
  box-shadow: 2px 2px 14px #1f212b,
              -2px -2px 6px #2f313f !important;
}

.callout {
  box-shadow: none;
  box-shadow: 2px 2px 14px #1f212b,
              -2px -2px 6px #2f313f !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Dock Headers                                                                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.side-dock-actions > div::after {
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 20px #2f313f !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Folder Headers                                                                          ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

body:not(.is-mobile) .nav-folder.mod-root>.nav-folder-title .nav-folder-title-content::after {
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 20px #2f313f !important;
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder::after {
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 20px #2f313f !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Template (Buttons)                                                                      ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

[data-callout="buttons-4"] .external-link,
[data-callout="buttons-3"] .external-link,
[data-callout="buttons-2"] .external-link,
[data-callout="buttons-1"] .external-link {
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 12px #2f313f !important;
}

/* Background - Hover */
[data-callout="buttons-4"] .external-link:hover,
[data-callout="buttons-3"] .external-link:hover,
[data-callout="buttons-2"] .external-link:hover,
[data-callout="buttons-1"] .external-link:hover {
  box-shadow: inset 6px 6px 20px #1f212b,
              inset -6px -6px 20px #353949 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Template (Tasks)                                                                        ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */


.callout[data-callout="tasks"] .task-list-item {
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 12px #2f313f !important;
}

.callout[data-callout="tasks"] .task-list-item.is-checked {
  box-shadow: inset 6px 6px 20px #1f212b,
              inset -6px -6px 20px #353949 !important;
}




/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Effects                  ║ Template (Cards)                                                                        ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.cards .table-view-tbody tr {
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 12px #2f313f !important;
}