/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Obsidian Add-On                                                                                                    ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ CreArts Hide Folder Number                                                              ║ */
/* ║ Version:                 ║ 1.0.0                                                                                   ║ */
/* ║ Author:                  ║ Corellan                                                                                ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ General                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

[data-path="1 Notes"] .tree-item-inner::first-letter,
[data-path="2 Bookmarks"] .tree-item-inner::first-letter,
[data-path="3 Tasks"] .tree-item-inner::first-letter,
[data-path="4 Projects"] .tree-item-inner::first-letter,
[data-path="5 Documents"] .tree-item-inner::first-letter,
[data-path="6 Study"] .tree-item-inner::first-letter,
[data-path="7 Wiki"] .tree-item-inner::first-letter,
[data-path="8 Resources"] .tree-item-inner::first-letter,
[data-path="9 Templates"] .tree-item-inner::first-letter {
    color: transparent;
    font-size: 0px;
}

[data-path="7 Wiki/1 Creatives"] .tree-item-inner::first-letter,
[data-path="7 Wiki/2 Products"] .tree-item-inner::first-letter,
[data-path="7 Wiki/"] .tree-item-inner::first-letter,
[data-path="7 Wiki/1 Creatives"] .tree-item-inner::first-letter,
[data-path="7 Wiki/1 Creatives"] .tree-item-inner::first-letter,
[data-path="7 Wiki/1 Creatives"] .tree-item-inner::first-letter,
[data-path="7 Wiki/1 Creatives"] .tree-item-inner::first-letter,
[data-path="8 Resources"] .tree-item-inner::first-letter,
[data-path="9 Templates"] .tree-item-inner::first-letter {
    color: transparent;
    font-size: 0px;
}