/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Obsidian Add-On                                                                                                    ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ CreArts Template Home                                                                   ║ */
/* ║ Version:                 ║ 1.0.0                                                                                   ║ */
/* ║ Author:                  ║ Corellan                                                                                ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ Variables                                                                               ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  --home-banner: 84px;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ Text                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/*
.home p {
  padding: 20px;
  background: #2a2d3a;
  border-radius: 12px !important;
  box-shadow: inset 5px 5px 20px #1f212b,
              inset -5px -5px 20px #353949;
}
*/

/* Spacing */
.home .markdown-preview-sizer {
  padding-bottom: 20px !important;
}

.home-button {
  background: var(--bg1) !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ Divider                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.home hr {
  opacity: 0;
  margin: 1em 0;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ Searchbar                                                                               ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */




.home-tab-searchbar {
  background: #2a2d3a;
  border-radius: 12px !important;
  box-shadow: inset 5px 5px 20px #1f212b,
              inset -5px -5px 20px #353949;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ Buttons                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */


.home-button {
  background: #2a2d3a;
  border-radius: 12px !important;
  box-shadow: 2px 2px 20px #1f212b,
              -2px -2px 12px #2f313f !important;
}

.home-button:hover {
  background: #2a2d3a;
  border-radius: 12px !important;
  box-shadow: inset 6px 6px 20px #1f212b,
              inset -6px -6px 20px #353949 !important;
}
