/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Obsidian Template                                                                                                  ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ Infobox                                                                                 ║ */
/* ║ Version:                 ║ 1.0.0                                                                                   ║ */
/* ║ Author:                  ║ Corellan                                                                                ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Layout                   ║ Variables                                                                               ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Backgground */
.callout[data-callout="infobox"] {
  background: var(--bg1);
  border-radius: 12px;
  width: 260px;
  margin-left: 12px;
  padding: 0px;
  float: right;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Spacing */
.callout[data-callout="infobox"] .callout-content {
  margin-bottom: 12px;
}

.callout[data-callout="infobox"] p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Image */
.callout[data-callout="infobox"] img {
  border-radius: 12px;
}

/* Title */
.callout[data-callout="infobox"] h1 {
  margin: 4px 12px 8px 12px;
}


/* Table */
.callout[data-callout="infobox"] table {
  margin: 0px !important;
  padding: 0px !important;
}

.callout[data-callout="infobox"] td {
  border: none;
  padding-left: 12px; 
  padding-right: 0px;
}

/* Remove Title */
.callout[data-callout="infobox"] .callout-title {
  display: none;
}

/* Remove th */
.callout[data-callout="infobox"] th {
  display: none;
}