/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Obsidian Template                                                                                                  ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ Flashcards                                                                              ║ */
/* ║ Version:                 ║ 1.0.0                                                                                   ║ */
/* ║ Author:                  ║ Corellan                                                                                ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ Buttons                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.flashcard:not(.markdown-source-view) .block-language-button {
  padding: 0px !important;
}

/* Button - Normal */
.flashcard:not(.markdown-source-view) .flashcard-button,
.flashcard:not(.markdown-source-view) .flashcard-button-pdf {
  background: var(--bg1) !important;
  border-radius: 8px;
  position: fixed;
  bottom: calc(var(--layout-titlebar) + 6px);
  z-index: 20;
}
  
  /* Button - Hover */
.flashcard:not(.markdown-source-view) .flashcard-button:hover,
.flashcard:not(.markdown-source-view) .flashcard-button-pdf:hover {
  background: var(--ax1) !important;
  border-radius: 8px;
  color: white;
}

/* Export PDF */
.flashcard-button-pdf {
  right: 162px;
}

/* Create Flashcard */
.flashcard-button {
  right: 20px;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ Highlights                                                                              ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Hightlight */
.flashcard h2 strong,
.flashcard h3 strong,
.flashcard h4 strong,
.flashcard h5 strong,
.flashcard h6 strong {
font-weight: 800;
color: #CD0952;
}

/* Hightlight */
.flashcard h2 strong,
.flashcard h3 strong,
.flashcard h4 strong,
.flashcard h5 strong,
.flashcard h6 strong {
font-weight: 800;
color: #CD0952;
}




.flashcard p strong {
font-weight: 800;
color: #CD0952;
}

.flashcard .has-list-bullet:not(p) strong {
  font-weight: 800;
  color: #CD0952;
}


/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Custom CSS               ║ Buttons                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Tag */
.flashcard .tag {
display: none;
}

/* Header */
.flashcard h2,
.flashcard h3,
.flashcard h4,
.flashcard h5,
.flashcard h6 {
  background: var(--bg2) !important;
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 0px;
  margin-top: 40px;
  padding: 12px 12px 12px 30px;
  border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
  border-color: var(--hr-color);
}

/* Collapsed */
.flashcard .is-collapsed h2 {
  border: none;
  border-radius: 12px;
}

/* Collapse Indicator */
.flashcard h2 .collapse-indicator  {
  opacity: 1;
}

/* Text */
.flashcard p {
  background: var(--bg2);
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 40px;
  margin-top: 0px;
  padding: 12px;
}

/* Bullet List */
.flashcard .has-list-bullet:not(p) {
  background: var(--bg2) !important;
  border-radius: 0px 0px 12px 12px;
  margin-top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}